.reveal {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(5px);
    transition: all 0.8s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}
@keyframes subir{
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }

}