/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Descipcion Negocio*/
.TrattoriaRoma{
  overflow: hidden;
  padding: 0 100px ;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;     
  width: 100%;
  height: 300px;
  background-color:#eee ;
}
.TrattoriaRoma p{
  max-width: 600px;       
  margin: 0 auto;         
  text-align: center;     
  font-size: 20px;
  font-family: playfair display, serif;
}
/*CONTENIDO DE HOME*/
.sobreProduct{
  padding: 200px 0px;
}
.contenido{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center; 
}
.contenido_txt{
width: 600px;
font-size: 15px;
padding: 50px;
}
.contenido_txt h1{
 color: #e63946;
 font-size: 70px;
 font-family: "edwardian script ITC", cursive;
}
.contenido_txt p{
  font-family: playfair display,serif;
}
.contenido_img{
width: 600px;
height: 700px;
object-fit: cover;
}
.contenido_alter_txt{
width: 600px;
padding: 50px;
}
.contenido_alter_txt h1{
  color: #e63946;
 font-size: 70px;
 font-family: "edwardian script ITC", cursive;
}
.contenido_alter_txt p{
  font-family: playfair display,serif;
  font-size: 15px;
}
.contenido_alter_img{
width: 600px;
height: 700px;
object-fit: cover;
}

/*alter*/
.contenido_alter{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center; 
  flex-direction: row-reverse;
}
/*Contenido sub*/
.info{
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #121212;
  width: 100%;
  height: 600px;
}

/*Contenedor img*/
.contenedor-miembros-img{
  width: 50%;
  height: 100%;
  
}
.miembros-img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}
   /*Contenido txt*/
.miembros-txt{
  width: 50%;
  color: white;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding: 20px;
}
.miembros-txt h1{
  font-family: "edwardian script ITC", cursive;
  font-size: 90px;
  color: #e63946;
}
.miembros-txt p{
  font-family: playfair display, serif;
  font-size: 17px;
}
 /*Contenido btn*/
.btn-riserva{
  padding: 5px 0px;
  color: white;
  background-color: #e6394700;
  width: 250px;
  height: 40px;
  border: 2px solid;
  border-color: #e63946;
  transition: all 0.7s ease;
}
.btn-riserva p{
  font-family: playfair display, serif;
  justify-content: center;
  align-items: center; 
  text-align: center;
}
.btn-riserva:hover{
  background-color: #e63946;
  color: white;
 
}
/*Quienes Somos*/
.about{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #eee;
  padding: 100px 0px;
}
.aboutUs{
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 900px;
}
.aboutUs h1{
  font-family: "edwardian script ITC", cursive;
  font-size: 70px;
  color: #e63946;
}
.aboutUs p{
  font-family: playfair display, serif;
  font-size: 17px;
}
/*marcas*/
.Marcas {
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
  height: 300px;
  display: flex;
  gap: 20px; /* espacio entre líneas y texto */
  flex-wrap: wrap;

}

.linea-personalizada {
  flex: 0.2;              /* hace que se expandan */
  height: 5px;
  border: none;
  background-color: #e63946;
}
.Marcas h1{
  font-family:"edwardian script ITC", cursive;
  font-size: 60px;
  color: #e63946;
}
/*ubicacion*/
.ubicacion{
  width: 100%;
  height: 500px;
  background-color: #121212;
}
/*Responsive*/
@media (max-width: 768px) {
  .info{
    height: 800px;
  }
  .miembros-txt h1{
  font-size: 70px;
}
  .miembros-txt p{
 font-size: 13px;
}
}
  

